.header-content .hero-unit-subheading h2 {
  color: #e7dddd;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-bottom: 45px; }

.v-header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%; }

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.65; }

.containerv {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center; }

.header-content {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media (max-width: 960px) {
  .containerv {
    padding-right: 3rem;
    padding-left: 3rem; } }

@media only screen and (max-width: 576px) {
  .hero-unit {
    text-align: center;
    background: url("../img/hero-unit-background-mobile.jpg");
    background-size: cover;
    background-position: center; }
    .hero-unit .hero-unit-heading {
      font-size: 40px; }
    .hero-unit .hero-unit-subheading {
      font-size: 14px; } }

@media only screen and (min-width: 1533px) {
  .hero-unit {
    background: url("../img/hero-unit-background-desktop-xl.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh; } }
