.dark-content {
  color: #fff;
  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }
}

.img-circle {
  border-radius: 50%;
}

.bg-primary {
  background: linear-gradient(151.88deg, #E8E030 -21.04%, #E95151 51.4%, #EF5220 147.44%);
}

@media only screen and (max-width: 576px) {
  #some-element { display: none; }
}
